<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Yolo Farm</title>
    <!-- Linking CSS file using url_for -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <header>
      <h1>Yolo Farm</h1>
    </header>

    <main>
      <p class="traveling-message">
        👨‍🌾Welcome to the landing page of Yolo Farm👩‍🌾🌾
      </p>
      <div class="graphs-container">
        <div class="chart-container">
          <h3>Biểu Đồ Nhiệt Độ</h3>
          <canvas id="tempChart" class="chart-canvas"></canvas>
        </div>

        <div class="chart-container">
          <h3>Biểu Đồ Ánh Sáng</h3>
          <canvas id="fluxChart" class="chart-canvas"></canvas>
        </div>

        <div class="chart-container">
          <h3>Biểu Đồ Độ Ẩm Đất</h3>
          <canvas id="earthHumidityChart" class="chart-canvas"></canvas>
        </div>

        <div class="chart-container">
          <h3>Biểu Đồ Độ Ẩm</h3>
          <canvas id="humidityChart" class="chart-canvas"></canvas>
        </div>

        <div class="chart-container">
          <h3>Predicted Temperature</h3>
          <canvas id="tempPredChart" class="chart-canvas"></canvas>
        </div>
      </div>
    </main>
    <footer>
      <p>&copy; 2024 Yolo Website</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="static/scripts/chart.js"></script>
  </body>
</html>
