<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Yolo Farm</title>
    <!-- Linking CSS file using url_for -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <header>
      <h1>Yolo Farm</h1>
    </header>

    <!-- <nav>
      <ul>
        <li>
          <button type="button" onclick="redirectToLoginPage()">Log in</button>
        </li>
        <li>
          <button type="button" onclick="redirectToSignUpPage()">
            Sign up
          </button>
        </li>
      </ul>
    </nav> -->
    <main>
      <p class="traveling-message">
        👨‍🌾Welcome to the landing page of Yolo Farm👩‍🌾🌾
      </p>
      <div class="graphs-container">
        <div class="chart-container">
          <h3>Biểu Đồ Nhiệt Độ</h3>
          <canvas id="tempChart" class="chart-canvas"></canvas>
        </div>

        <div class="chart-container">
          <h3>Biểu Đồ Ánh Sáng</h3>
          <canvas id="fluxChart" class="chart-canvas"></canvas>
        </div>

        <div class="chart-container">
          <h3>Biểu Đồ Độ Ẩm Đất</h3>
          <canvas id="earthHumidityChart" class="chart-canvas"></canvas>
        </div>

        <div class="chart-container">
          <h3>Biểu Đồ Độ Ẩm</h3>
          <canvas id="humidityChart" class="chart-canvas"></canvas>
        </div>
      </div>
    </main>
    <footer>
      <p>&copy; 2024 Yolo Website</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const tempCtx = document.getElementById("tempChart").getContext("2d");
        const fluxCtx = document.getElementById("fluxChart").getContext("2d");
        const humidityCtx = document
          .getElementById("humidityChart")
          .getContext("2d");
        const earthHumidityCtx = document
          .getElementById("earthHumidityChart")
          .getContext("2d");

        const tempChart = new Chart(tempCtx, {
          type: "line",
          data: {
            labels: [
              "January",
              "February",
              "March",
              "April",
              "May",
              "June",
              "July",
            ],
            datasets: [
              {
                label: "Nhiệt độ",
                data: [0, 10, 5, 2, 20, 30, 45],
                borderColor: "rgb(255, 99, 132)",
                backgroundColor: "rgba(255, 99, 132, 0.5)",
              },
            ],
          },
          options: {
            scales: {
              y: {
                beginAtZero: true,
              },
            },
          },
        });

        const fluxChart = new Chart(fluxCtx, {
          type: "line",
          data: {
            labels: [
              "January",
              "February",
              "March",
              "April",
              "May",
              "June",
              "July",
            ],
            datasets: [
              {
                label: "Ánh sáng",
                data: [45, 30, 60, 40, 60, 95, 100],
                borderColor: "rgb(54, 162, 235)",
                backgroundColor: "rgba(54, 162, 235, 0.5)",
              },
            ],
          },
          options: {
            scales: {
              y: {
                beginAtZero: true,
              },
            },
          },
        });

        const earthHumidityChart = new Chart(earthHumidityCtx, {
          type: "line",
          data: {
            labels: [
              "January",
              "February",
              "March",
              "April",
              "May",
              "June",
              "July",
            ],
            datasets: [
              {
                label: "Độ Ẩm Đất",
                data: [20, 30, 45, 60, 70, 80, 30],
                borderColor: "rgb(255, 205, 86)",
                backgroundColor: "rgba(255, 205, 86, 0.2)",
                tension: 0.1,
              },
            ],
          },
          options: {
            scales: {
              y: {
                beginAtZero: true,
              },
            },
          },
        });

        const humidityChart = new Chart(humidityCtx, {
          type: "line",
          data: {
            labels: [
              "January",
              "February",
              "March",
              "April",
              "May",
              "June",
              "July",
            ],
            datasets: [
              {
                label: "Độ Ẩm",
                data: [20, 30, 45, 60, 70, 80, 30],
                borderColor: "rgb(75, 192, 192)",
                backgroundColor: "rgba(75, 192, 192, 0.2)",
                tension: 0.1,
              },
            ],
          },
          options: {
            scales: {
              y: {
                beginAtZero: true,
              },
            },
          },
        });
      });
    </script>
  </body>
</html>
